.CorrectWrongAnswers {
  /* border: dotted black thin; */
  font-size: 40px;
}

.container {
  display:flex;
  flex-wrap: wrap;
  /* padding: 20px; */
  /* border: solid red thin; */
  /* padding-top: 10vh; */
  padding-left: 10vw;
  padding-right: 10vw;
}

.container > div {
  text-align: center;
  width: 190px;
  /* border: solid blue thin; */
  font-size: 28px;
  padding: 20px;
  margin-top: 30px;
  margin-left: 30px;
  background: radial-gradient(white, rgb(161,187,255));
  border: rgb(3,2,120) solid thin;
  box-shadow: 5px 5px 3px grey;
  /* background-color: white;
  box-shadow: 0 0 10px 10px white; */
  border-radius: 5px;
}
.CorrectWrongAnswers  input {
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  max-width: 120px;
  font-family: 'Gaegu', cursive;
}
.text {
  font-family: 'Gaegu', cursive;
  padding-top: 10vh;
  padding-bottom: 5vh;
  text-align: center;
}
.CorrectWrongAnswers .button {
  margin: 70px;
  display: flex;
  justify-content: center;
}
 .CorrectWrongAnswers .button > input {
  /* background-color: rgb(161,187,255); */
  background: radial-gradient(white, rgb(161,187,255));
  box-shadow: 5px 5px 3px grey;
  border: rgb(3,2,120) solid thin;
}
.wellDone {
  font-family: 'Gaegu', cursive;
  font-size: 5vw;
  text-align: center;
  padding: 40vh 0;
  color: rgb(3,2,120);
}
