.HomePage {
    display: flex;
    background: linear-gradient(to top right, white, rgb(161,187,255));
    background: linear-gradient(rgb(161,187,255), white);
    border: rgb(3,2,120) solid thin;
    margin: 0 1vw;
    }
  .wrapper {
    /* border: rgb(3,2,120) solid thin; */
    width: 100%;
  }
  /* .bgi-1 {
    float: right;
    border: black solid thin;
    padding: 150px;
    padding-right: 100px;
    color: rgb(3,2,120);
    font-family: 'Sacramento', cursive;
    font-size: 10vw;
    text-shadow: 3px 3px rgb(100,116,158);
  } */

  .bgi-2 {
    /* border: black thin solid; */
    /* background: linear-gradient(to bottom right,rgb(161,187,255), rgb(100,116,158)); */
    background-image: url("../images/numbers-cartoon.png");
    background-size: 700px;
    min-height: 803px;
    background-repeat:no-repeat;
    background-position:left;
    margin-left: 20px;
    margin-top: 40px;
  }


  /* font-family: 'Gaegu', cursive;
  font-family: 'Gloria Hallelujah', cursive; */
