.NavBar {
  display: flex;
  background-color: white;
  justify-content: center;
  /* border: thin red solid; */
  height: 12vh;
}
.wrapperNav {
  /* border: thin red solid; */
  width: 95%;
  display: flex;
  justify-content: flex-end;
}
.keys {
  display: flex;
}
.keys > div {
  /* border: thin black solid; */
  margin-left:  1vw;
  display: flex;
  align-items:  flex-end;
  padding-bottom: 0.4vw;
}
.keys > div > * {
  /* border: thin black solid; */
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
}

.textNav {
  /* border: green solid thin; */
  position: absolute;
  left: 5vw;
  bottom: 88vh;
  color: rgb(3,2,120);
  font-family: 'Sacramento', cursive;
  font-size: 9vw;
  text-shadow: 3px 3px rgb(100,116,158);
}

.keys > div > *:hover {
  color: rgb(3,2,120);
}
.hello {
  color: rgb(3,2,120);
  font-family: 'Sacramento', cursive;
  font-size: 2vw;
}
