.ParentUserPage {
  background: linear-gradient( white,rgb(161,187,255), white);
  font-family: 'Gaegu', cursive;
  margin: 1.5vw;
}
/* STUDENTS */
.students {
  /* border: red solid thin; */
  margin: 1vw;
  margin-top: 5vw;
  font-size: 2vw;
  display: flex;
}
.text2 {
  /* border: black solid thin; */
  text-shadow: 1px 1px rgb(100,116,158);
}
.students-list {
  /* border: black solid thin; */
  padding: 0 7vw;
}
.students-list > ul {
  padding: 0;
  margin: 0;
}
.students-list > ul li {
  /* border: black solid thin; */
  list-style-type: none;
  margin-left: 1vw;
}
.students-button {
  padding: 0 6vw;
}
.students-button > button {
  background: radial-gradient(white, rgb(161,187,255));
  box-shadow: 5px 5px 3px grey;
  border: lightgrey solid thin;
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  text-align: center;
  max-width: 150px;
  border-radius: 5px;
  outline: none;
}
/* CREATE CUSTOM QUIZ */
.CreateCustomQuiz{
  /* border: red solid thick; */
  margin: 1vw;
  margin-top: 2vw;
}
.field input {
  /* border: black solid thick; */
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  width: 20vw;
  box-shadow: 5px 5px 3px grey;
  padding: 0.5vw;
  border-radius: 5px;
  margin: 0.5vh;
}
.container-customQuiz {
  /* border: green thick solid; */
  display: flex;
  margin: 0;
}
.container-quiz2.customQuiz {
  padding: 1vh;
}
input {
  outline: none;
}
.addExpressions {
  border: solid grey thin;
  background-color: white;
  border-radius: 5px;
  box-shadow: 5px 5px 3px grey;
  flex-grow: 1;
}
.addExpressions > ol {
  padding: 0;
}
.addExpressions li > div {
  display: flex;
}
.addExpressions button {
  margin-left: 1vw;
  color: red;
}
.mainContainer {
  display: flex;
}
/* CREATE CUSTOM EXPRESSION */
.container-quiz2.customExpression {
  padding: 1vh;
}
.container-quiz2.customExpression > input {
  outline: none;
}

/* CREATE NEW CHILD */

.CreateNewChild {
  background-color: white !important;
  display: flex;
  border-radius: 5px;
}
.CreateNewChild form {
  /* border: black thin solid; */
  width: 28vw;
  padding: 2vw;
  background: linear-gradient(to top right,white, rgb(161,187,255));
  border: rgb(3,2,120) solid thin;
  border-left: rgb(3,2,120) solid thin;
  /* border-radius: 5px; */
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* MODAL */
.modal {
  background: rgba(0,0,0, .8);
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}
.modal-trigger {
  text-decoration: none;
  padding: 1rem;
  background: yellow;
  display: inline-block;
  border-radius: 5px;
  margin-top: 50px;
  color: white;
}
.modal__dialog {
  display: table-cell;
  vertical-align: middle;
}
.modal__content {
  background: rgba(255,255,255);
  width: 28vw;
  margin: auto;
  border-radius: 5px;
}
.modal__header {
  background: rgb(3,2,120);
  color: rgba(255,255,255,0.8);
  padding: 1rem;
  position:relative;
}
.modal__title {
  margin: 0;
  font-family: 'Gaegu', cursive;
  font-size: 2vw;
}
.modal__close {
  color: rgb(3,2,120);
  text-decoration: none;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.modal__text{
  padding: 0 1rem;
  line-height: 1.5;
}
