html, body {
    height: 100%;
}
.QuizShowPage, .RepeatQuizPage {
  border-top: rgb(3,2,120) thin solid;
  display: flex;
  flex-direction: column;
  font-family: 'Gaegu', cursive;
  background: linear-gradient(to bottom right,rgb(161,187,255), rgb(100,116,158));
  background-image: url("https://image.shutterstock.com/z/stock-vector-background-illustration-of-math-symbols-and-formulas-730379383.jpg");
  /* background-repeat:no-repeat; */
  -webkit-background-size:cover;
  -moz-background-size:cover;
  -o-background-size:cover;
  background-size: cover;
  background-position:center;
}
.wrapper-1, .wrapper-2 {
  background: radial-gradient(white, rgb(161,187,255, 0.50));
  /* background: radial-gradient(white, rgb(255,255,255,0.60)); */
  min-height: 803px;
  /* margin: 20px; */
}
.main-container-1 {
  /* border: green thin solid; */
  padding: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-size: 20px;
}
.container-1 {
  /* border: green thin solid; */
  display: flex;
  justify-content: space-around;
  padding-left: 170px;
  padding-right: 150px;
  padding-top: 150px;
  /* padding-top: 100px; */
}
.h1 {
  font-family: 'Gaegu', cursive;
  font-size: 30px;
  text-shadow: 2px 2px lightgrey;
}
.counter {
  font-size: 30px;
  padding-top: 12px;
  text-shadow: 2px 2px lightgrey;
}
.progress {
  /* border: black solid thin; */
  padding: 10px 300px;
  padding-bottom: 50px;
}
.main-container-2 {
  /* border: green thin solid; */
  display: flex;
  justify-content: center;
  padding: 10px 10px;
}
.stopWatch {
  /* border: black thin solid; */
  text-align: center;
  padding: 10px 10px;
  font-size: 30px;
  text-shadow: 2px 2px lightgrey;
}
.expression {
  /* border: solid thin black; */
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  width: 400px;
  border-radius: 5px;
  background: radial-gradient(white, rgb(161,187,255));
  border: rgb(3,2,120) solid thin;
  box-shadow: 5px 5px 3px grey;
  /* box-shadow: 0 0 10px 10px white; */
}
.expression input {
  font-size: 30px;
  text-align: center;
  max-width: 150px;
  font-family: 'Gaegu', cursive;
  border-radius: 5px;
}
.expression > div {
  padding: 20px;
  /* border: red thin solid; */
  font-size: 40px;
}
.wrapper-2 > div {
  font-size: 30px;
  font-family: 'Gaegu', cursive;
  padding: 10px;
}
 div .finished {
  /* border: solid black thin; */
  font-size: 80px;
  padding-top: 100px;
  padding-bottom: 20px;
  color: rgb(3,2,120);
  text-shadow: 2px 2px rgb(161,187,255);
  text-align: center;
}
.time {
  display: flex;
  justify-content: center;
}
.duration {
  padding-right: 10px;
}
.main-container-4 {
  /* border: black thin dotted; */
  display: flex;
  flex-direction: column;
  justify-content: center; /* center items vertically, in this case */
  align-items: center;
}

/* MODAL */
div.ui.modal.transition.visible.active.mainModal {
  /* border: red solid thick; */
  width: 80% !important;
  padding: 0 !important;
  margin-top: 18vh !important;
  margin-bottom: 20vh !important;/* margin: 0 !important; */
  margin-left: 10vw !important;
  margin-right: 10vw !important;
}

.ui.modal>.content {
/* div.modalContent.Image.content { */
  /* border: black thick dotted; */
  height: 60vh;
  display: flex;
  justify-content: center;
}

div.description.modalDescription {
  /* border: yellow thick solid; */
  width: 45vw;
  height: 50vh;
  margin: 0px;
  padding-left: 0 !important;
  padding-top: 14vh;
  font-family: 'Gaegu', cursive;
  color: black;
  font-size: 2.5vw;
  text-align: center;
}

div.ui.medium.image {
  /* border: blue thick solid; */
  height: 50vh;
  margin-bottom: 0 !important;
  padding: 0 !important;
}
div.description.modalDescription >.red {
  color: red;
  font-size: 5vw;
}

div.ui.page.modals.dimmer.transition.visible.active {
  /* border: green thick solid; */
  display: flex;
  justify-content: center !important;
}


@media only screen and (max-width: 770px) {

  div.ui.modal.transition.visible.active.mainModal {
    margin-top: 10vh !important;
  }
  .ui.modal>.content {
    height: 75vh;
    display: flex;
    justify-content: center;
  }

  div.description.modalDescription {
    font-size: 3vw;
  }

}
