.list {
  /* border: black solid thick; */
  width: 70vw;
  list-style-type: none;
  padding: 0vw;
  font-size: 1.5vw;
  margin-left: 3vw;
}
.container-list {
  display: flex;
  justify-content: space-between;
  padding-top: 1.5vh;
  text-align: center;
}
.container-list > div {
  /* border: red solid thin; */
  width: 15vw;
  padding: 0.5vh 0vh;
  font-family: 'Gaegu', cursive;
}
.container-list.border {
  border-bottom: grey solid thin;
}
