.SignInUpPage {
  display: flex;
  background: linear-gradient(rgb(161,187,255), white);
  border: rgb(3,2,120) solid thin;
  margin: 0 1vw;
}
.wrapperDimm {
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background: rgba(0, 0, 0, 0.5);
  z-index:100;
}
.SignInUpPage form  div, .CreateNewChild form div {
  margin: 1vw;
}
.formWrapper {
  border: black thin solid;
  width: 27vw;
  padding: 2vw;
  position: absolute;
  top: 23vh;
  right: 12vw;
  background: linear-gradient(to top right,white, rgb(161,187,255));
  border: rgb(3,2,120) solid thin;
  border-left: rgb(3,2,120) solid thin;
  border-radius: 5px;
}
.signInContainer-2 input {
  background: radial-gradient(white, rgb(161,187,255));
  box-shadow: 5px 5px 3px grey;
  border: grey solid thin;
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  text-align: center;
  max-width: 150px;
  border-radius: 5px;
  outline: none;
}
.signInContainer-1 label {
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  padding-top: 2vh;
}
/* GOOGLE SIGN-IN */
.signInWithGoogle {
  margin: 0 !important;
}
.signInContainer-2 {
  margin-bottom: 0 !important;
}
.signInWithGoogleButton {
  /* border: black solid thin; */
  background: radial-gradient(white, rgb(161,187,255));
  box-shadow: 5px 5px 3px grey;
  border: grey solid thin;
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  text-align: center;
  outline: none;
  border-radius: 5px;
  margin: 1vw 0;
}
.googleIcon {
  /* border: black solid thin; */
  background-image: url("../images/google_icon1.png");
  background-size: 100% 100%;
  width: 48px;
  height: 48px;
  margin: 0 0 0 0.5vw !important;
  background-repeat:no-repeat;
}
.googleWrapper {
  /* border: black solid thin; */
  display: flex;
  justify-content: space-between;
  margin: 0 0 0 1vw !important;
  width: 20vw;
}
.signInContainer-1 input {
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  width: 20vw;
  box-shadow: 5px 5px 3px grey;
  padding: 0.5vw;
  border-radius: 5px;
}
/* MODAL */
.SignInUpPage .modal {
  /* modal dimmer: */
  background: rgba(0,0,0, .8);
  position: fixed;
  left:25vw;
  top: 45vh;
  border: rgb(102, 0, 0) solid thin;
  border-radius: 5px;
}
.modal-trigger {
  text-decoration: none;
  padding: 1rem;
  background: yellow;
  display: inline-block;
  border-radius: 5px;
  margin-top: 50px;
  color: white;
}
.SignInUpPage .modal__dialog {
  display: table-cell;
  vertical-align: middle;
  /* border-radius: 5px; */
}
.SignInUpPage .modal__content {
  background: rgba(255,255,255);
  width: 50vw;
  margin: auto;
  /* border-radius: 5px; */
}
.SignInUpPage .modal__header {
  background: rgb(255, 77, 77);
  color: rgba(255,255,255,0.8);
  padding: 2rem;
  position:relative;
  border-radius: 5px;
}
.SignInUpPage .modal__title {
  margin: 0;
  font-family: 'Gaegu', cursive;
  font-size: 2vw;
  text-align: center;
  line-height: 1.5;
}
