.SignInPage {
  display: flex;
  background: linear-gradient(rgb(161,187,255), white);
  border: rgb(3,2,120) solid thin;
  margin: 0 1vw;
}

.SignInPage form  div {
  margin: 1vw;
}

.SignInPage form {
  /* border: black thin solid; */
  width: 28vw;
  padding: 2vw;
  position: absolute;
  top: 40vh;
  right: 12vw;
  background: linear-gradient(rgb(161,187,255), white);
  border-radius: 5px;
}

.signInContainer-2 input {
  background: radial-gradient(white, rgb(161,187,255));
  box-shadow: 5px 5px 3px grey;
  border: grey solid thin;
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  text-align: center;
  max-width: 150px;
  border-radius: 5px;
}
.signInContainer-1 input {
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  width: 20vw;
  box-shadow: 5px 5px 3px grey;
  padding: 0.5vw;
  border-radius: 5px;
}
.signInContainer-1 label {
  font-family: 'Gaegu', cursive;
  font-size: 1.5vw;
  padding-top: 2vh;
  text-shadow: 1px 1px rgb(100,116,158);
}
